@keyframes mouse_scroll{
    0%{
        top: 10px;
        opacity: 1;
    }
    
    100%{
        top: 20px;
        opacity: 0;
    }
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(360deg);
    }
}