/*** GENERAL STYLES ***/

*{
    box-sizing: border-box;
}

html,
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Roboto;
    color: rgba(255,255,255,.5);
}

.page_wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../img/background.png);
    background-size: cover;
}

.container{
    width: 100%;
    height: 100%;
    max-width: 1366px;
    margin: auto;
    position: relative;
    padding: 80px 0;
}

.clear::after{
    display: block;
    content: "";
    height: 0;
    clear: both;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

input{
    outline: 0;
}

/*** PAGE STYLES ***/

.background{
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .8;
}

.content_wrap{
    width: auto;
    height: 100%;
    position: relative;
    transition: .5s ease-in-out;
    left: 0;
}

.section{
    width: 100vw;
    height: 100%;
    position: absolute;
}

.first_section{
    left: 0;
}

.second_section{
    left: 100vw;
}

.third_section{
    left: 200vw;
}

.fourth_section{
    left: 300vw;
}

.fifth_section{
    left: 400vw;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.showed{
    opacity: 1;
    visibility: visible;
    transition: all .5s ease;
}

.hidden{
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
}

.link{
    text-decoration: underline;
    color: rgba(255,255,255,.8);
}

/*** CONTENT STYLES ***/

.backlight:hover{
    transition: all .3s ease;
    color: rgba(255,255,255,.8);
    text-shadow: 0 0 10px rgba(255,255,255,.5);
}

.fixed_stuff > *{
    position: fixed;
    z-index: 100;
}

.logo{
    padding: 0 30px;
    line-height: 80px;
    top: 0;
    left: 0;
}

.header_nav{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    line-height: 80px;
    padding: 0;
    margin: 0;
}

.header_nav li{
    list-style: none;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

.header_nav li:first-child{
    margin-left: 0;
}

.menu{
    padding: 0 45px 0 30px;
    line-height: 80px;
    list-style: none;
    margin: 0;
    top: 0;
    right: 0;
}

.menu li{
    float: left;
    margin-left: 10px;
}

.menu li:first-child{
    margin-left: 0;
}

.menu li:last-child{
    padding-right: 30px;
    position: relative;
}

.menu li:last-child::after{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    width: 35px;
    height: 35px;
    content: "JD";
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,.8);
    line-height: 35px;
    text-align: center;
}

.footer_nav{
    left: 50%;
    bottom: 0;
    line-height: 80px;
    transform: translateX(-50%);
    margin: 0;
    cursor: pointer;
    padding: 0;
}

.footer_nav li{
    display: inline-block;
    width: 30px;
    height: 3px;
    background: rgba(255,255,255,.3);
    margin-right: 5px;
}

.footer_nav li.active{
    background: rgba(255,255,255,.5);
    box-shadow: 0 0 10px rgba(255,255,255,.8);
}

.mouse{
    width: 30px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid rgba(255,255,255,.8);
    right: 30px;
    bottom: 30px;
}

.mouse_wheel{
    width: 3px;
    height: 10px;
    background: rgba(255,255,255,.8);
    border-radius: 1.5px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    animation: mouse_scroll 2s infinite;
}
/*** MAIN PAGE STYLES ***/

/*** wrong!!! ***/
.first_section .container{
    background: url(../img/index_bck.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
}

.w{
    font-family: Kamu;
    font-size: 45px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
}

.second_section .container{
    padding: 100px 150px;
}

.ss_h{
    font-family: Kamu;
    font-size: 35px;
}

.ss_t{
    font-size: 18px;
    padding: 20px 0;
    width: 300px;
}

.ss{
    box-shadow: inset -7px 0 3px -7px rgba(255,255,255,0.4);
    padding-right: 10px;
    float: left;
    width: 330px;
    height: 100%;
}

.ss_2{
    float: left;
    width: calc(100% - 330px);
    position: relative;
    height: 100%;
}

.ss_2_t{
    font-size: 80px;
    font-family: Kamu;
    text-align: center;
}

.ss_2_t::after{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -120px;
    content: "";
    height: 128px;
    width: 128px;
    background: url(../img/index_right.png);
    background-size: cover;
}

/*** for time ***/

.login,
.signup{
    width: 100%;
    height: calc(100% - 160px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.login{
    background-image: url(../img/login_txt.png);
}

.login_h{
    font-family: Kamu;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

.signup_h{
    font-family: Kamu;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.form_r{
    margin: 30px 0;
}

.form_t{
    position: relative;
    width: 400px;
}

.form_i{
    width: 400px;
    padding: 10px;
    border: 0;
    background: 0;
    box-shadow: inset  0 -10px 3px -10px rgba(255,255,255,.3);
    color: rgba(255,255,255,.5);
}

.form_r_center{
    text-align: center;
}

.form_btn{
    font-family: Kamu;
    color: rgba(255,255,255,.5);
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(255,255,255,.3);
    border: 0;
    background: 0;
    font-size: 17px;
    cursor: pointer;
    display: inline-block;
    margin-top: 50px;
}

.form_tip_controller{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
    width: 20px;
    height: 20px;
    border: .5px solid rgba(255,255,255,.3);
    border-radius: 50%;
    background: rgba(255,255,255,.1);
    cursor: pointer;
    animation: spin 4s infinite linear;
}

.form_tip_controller::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: rgba(255,255,255,.5);
    content: "";
}

.form_tip_controller::after{
    position: absolute;
    top: 50%;
    right: -2.5px;
    transform: translate(-50%, -50%);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgba(255,255,255,.5);
    content: "";
}

.form_tip{
    position: absolute;
    right: -40px;
    top: -5px;
    transform: translate(50%, -100%);
    border-radius: 5px;
    background: rgba(0,0,0,.5);
    padding: 10px 15px;
    z-index: 100;
}

.form_tip::after{
    content: "";
    position: absolute;
    content: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: rgba(0,0,0,.5) transparent transparent transparent;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
}

.signup{
    background-image: url(../img/sign_up_txt.png);
}

.signup .center{
    width: 800px;
}

.signup .center .form_r:last-child{
    float: left;
    width: 100%;
    margin: 0;
}

.signup .center .form_r:last-child .form_btn{
    margin-top: 30px;
}


.form_block{
    float: left;
    width: 350px;
}

.form_block:nth-child(2){
    margin-right: 100px;
}

.form_block .form_i{
    width: 100%;
}

.form_block .form_t{
    width: 100%;
}

.gender_radio{
    color: rgba(255,255,255,.4);
    font-family: Kamu;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    margin: 20px 30px 0 0;
}

.gender_radio:last-child{
    margin-right: 0;
}

.gender_radio input{
    display: none;
}

.gender_radio input:checked + .radio::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.7);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255,255,255,.7), 0 0 20px rgba(255,255,255,.5);
}

.radio{
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: .5px solid rgba(255,255,255,.5);
    position: relative;
    margin-right: 10px;
    vertical-align: middle;
}

.privacy_checkbox input{
    display: none;
}

.privacy_checkbox{
    color: rgba(255,255,255,.3);
    display: inline-block;
    margin: 40px 0 0 5px;
}

.privacy_checkbox a{
    color: rgba(255,255,255,.5);
}

.checkbox{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    box-shadow: inset 0 0 3px rgba(2552,255,255,.3), 0 0 3px rgba(2552,255,255,.3);
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    margin-right: 20px;
}

.privacy_checkbox input:checked + .checkbox::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    background-image: url(../img/check.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

/*** ASSISTANT PAGE STYLES ***/

.left_sidebar{
    float: left;
    width: 35%;
    height: 100%;
}

.right_sidebar{
    float: left;
    width: 65%;
    height: 100%;
}

.calendar_left{
    margin-right: 50px;
    float: right;
    height: 100%;
    width: 350px;
}

.calendar_right{
    float: left;
    height: 100%;
}

.todo_h{
    font-family: Kamu;
    font-size: 23px;
    color: rgba(255,255,255,.5);
    margin-bottom: 30px;
}

.todo_list{
    height: 435px;
    width: 100%;
    background: rgba(0,0,0,.3);
    border-radius: 5px;
    padding: 40px;
}

.todo_inner{
    width: 100%;
    height: calc(100% - 60px);
    margin-bottom: 10px;
    overflow-y: hidden;
}

.todo_empty{
    text-align: center;
    width: 100%;
    box-shadow: inset  0 -10px 3px -10px rgba(255,255,255,.3);
    padding-bottom: 10px;
}

.todo_tasks{
    width: 100%;
}

.todo_task{
    width: calc(100% - 30px);
    box-shadow: inset  0 -10px 3px -10px rgba(255,255,255,.3);
    padding: 15px 10px;
    position: relative;
}

.complete_btn{
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border: .5px solid rgba(255,255,255,.5);
    border-radius: 50%;
    cursor: pointer;
}

.todo_add{
    height: 50px;
}

.todo_add_input{
    margin-right: 20px;
    width: calc(100% - 70px);
    float: left;
    border: 0;
    background: 0;
    padding: 10px;
    box-shadow: inset  0 -10px 3px -10px rgba(255,255,255,.3);
    color: rgba(255,255,255,.5);
}

.todo_add_btn{
    font-family: Kamu;
    width: 50px;
    border-radius: 5px;
    box-shadow: inset  0 0 3px 0 rgba(255,255,255,.3);
    float: left;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background: 0;
    border: 0;
    color: rgba(255,255,255,.5);
}

.calendar{
    padding: 0 50px;
    position: relative;
    height: 100%;
}

.calendar_control{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .5;
    transition: opacity .3s ease;
    cursor: pointer;
}

.calendar_control:hover{
    opacity: .8;
}

.calendar_control.left{
    left: 0;
    background-image: url(../img/left.png);
}

.calendar_control.right{
    right: 0;
    background-image: url(../img/right.png);
}

.calendar_h{
    margin-bottom: 10px;
}

.calendar_cur_date{
    font-size: 33px;
    font-family: Kamu;
}

.calendar_deadline{
    margin-left: 20px;
}

.calendar_cell{
    float: left;
    width: 73px;
    height: 73px;
    background: rgba(0,0,0,.3);
    border-radius: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.calendar_cell.active{
    box-shadow: 0 0 5px rgba(255,255,255,1);
}

.calendar_cell:hover{
    box-shadow: 0 0 3px rgba(255,255,255,.5);
}

.calendar_cell:nth-child(7n + 1){
    clear: both;
}

.c_date{
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.c_date_m{
    font-size: 10px;
}

.c_week_day{
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 11px;
}